# RENV_CACHE_HOST: local directory where renv stores package installations
export RENV_CACHE_HOST='/home/user/.cache/R/renv/cache'
# HPC_REMOTE: hostname of your HPC cluster
export HPC_REMOTE='cluster.host.domain'
# HPC_REMOTE_PATH: path to the project on the HPC cluster
export HPC_REMOTE_PATH='/scratch/user/birdpopvar'

