.Rproj.user
.Rhistory
.RData
.Ruserdata
.env
.Renviron

data/raw/*
data/processed/*
!data/README.md
!data/external_sources.md
!data/raw/metadata.md
!data/processed/metadata.md
output/
quarto/build/
_targets/
quarto/*.pdf
quarto/*_files
quarto/*_cache
manuscript/
man/
tmp/
stores/
container_output/
container_stores/
notebooks/*_files/
notebooks/*.html/